body {
  font-family: 'Poppins', sans-serif;
  color:  #885DF1;
  max-width: 800px;
  margin: 0 auto;
}

.App footer {
  font-size: 14px;
  margin: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}