.Weather {
    border: 1px solid grey;
    text-align: left;
    padding: 16px;
    margin: 20px;
    border-radius: 10px;
  


}

.Weather h1 {
    
    font-family: 'Delicious Handrawn';
    display: block;
    font-size: 48px;
    margin: 20px 0 0 0 ;


}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    list-style: none;
}

.Weather img {
    width: 150px;
    padding: 10px;
    float: inline-start;
    margin: 0 20px 0 0 ;
   
}

.Weather .temperature {
    font-weight: bold;
    font-size: 80px;



}

.Weather .temperature-unit {
    font-size: 20px;
   position: relative;
   top: -40px;
   margin-left: 10px;
}